DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=super_secret_key_change_in_production_1234567890
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
